/* CONTAINER EDIT */
.container_edit {
    position: relative;
    cursor: pointer;
}
.container_edit:hover {
    background: #ccc;
	-webkit-box-shadow: 5px 5px 15px 2px rgba(0,0,0,0.4); 
	box-shadow: 5px 5px 15px 2px rgba(0,0,0,0.4);
}
.container_edit:hover .edit_bar {
    display: block;
	-webkit-box-shadow: 5px 5px 15px 2px rgba(0,0,0,0.4); 
	box-shadow: 5px 5px 15px 2px rgba(0,0,0,0.4);
}

.edit_item {
}
.edit_templ { margin-left: 1em; }
.edit_bar { 
    display: none;
    position: absolute;
    top: 20px;
    right: 20px;
	
}
#edit_area .modal-dialog {
    max-width: 95%;
}
#edit_area .modal-dialog iframe {
    width: 100%;
    /* height: auto; */ max-height: 88vh;
}
.close_me { margin: 2em 0; display: block; }
.btntop { border-top: solid red 6px; padding-top: 0; }
.btnbottom { border-bottom: solid red 6px; padding-bottom: 0; }

.btn.act { background: #ddd; 
	/* border-left: solid 1px red; border-right: solid 1px red;  */
}
.btn-edit { background: #445060; height: 36px; padding: 0 12px; text-align: center; }
.btn-edit .fa { color: #fff; }
#morpheus_edit_bar {
	position: fixed;
	height: 100vh;
	width: 34px;
	background: #bbb url(../morpheus/images/Logo-Morpheus.svg) no-repeat;
	background-size: 80px;
	left: 0;
	top: 0; z-index: 9999; padding-left: 10px; padding-top: 40px;
}

.abst_top { margin-top: 100px; }
.modal-header .btn-close { color: #fff; background: yellow; width: auto; opacity: 1; }
.modal-header .btn-close:before { content: 'close'; color:  #000; font-weight: 400; font-size: .8em; line-height: 1em; } 

.modal-header {
    text-align: center;
    border-bottom: none;
    flex-direction: column;
    position: relative; height: 40px; padding: 9px;
}
.modal-header .modal-title {
    color: #1983A2;
}
.modal-header .btn_close {
    border: none;
    position: absolute;
    right: 15px;
    top: 15px;
    background: transparent;
}
.modal-content {
    border-radius: 0;
    border: none;
    background-color: rgba(0, 0, 0, 0.75);
    box-shadow: 10px 15px 18px -10px rgba(0, 0, 0, 0.5);
}
.modal-body {
    text-align: center; height: auto;
}
.modal-body h4 {
    color: #000;
    text-transform: none;
    margin-bottom: 0;
    font-size: 1em;
}
.modal-body .btn {
    background: #1983A2;
    font-family: "RedHat", Arial, Helvetica Neue, Helvetica, sans-serif; font-weight: 700;
    text-transform: none;
    margin-bottom: 15px;
}
.modal-body .btn:hover {
    color: #fff;
}
.modal-backdrop.show {
    opacity: 0;
}
.edit_br { display: none; }

@media (max-width: 768px) {
	.edit_br { display: block;; }
	.edit_bar { right: 5px; text-align: right; }
	.edit_bar .btn { margin-bottom: 10px;  }

}