
th {
border-bottom: none;
text-align: center;
font-weight: 300;
}
.autocol th {
border-bottom: solid 1px #434857;
text-align: left;
font-weight: 400; font-size: .9em;
}

.left th {
border-bottom: solid 1px #434857;
text-align: left;
font-weight: 300;
}

table.templ_vors {
	width: 100%;
	padding: 0;
}
table.templ_vors td {
	padding: 4px;
	color: #666;
	border: solid 1px #666;
}
table.templ_vors td a {
	color: red;

}

table.autocol { width: 100%; }
.autocol tr td { background: #f3eeee; border-bottom: solid 1px #e2e2e2; padding: 4px 0 0 5px; font-size: .9em; }
table tr:nth-child(odd) td { background: transparent; }
.autocol.small td { font-size: 1.1em; }
.nopad td { padding-top: 0 !important; padding-bottom: 0 !important; }
.smallpad td { padding-top: 2px !important; padding-bottom: 2px !important; }
tr.NOT, .autocol tr.NOT td { background: rgba(0,0,0,.1) !important; }
