
th {
border-bottom: none;
text-align: center;
font-weight: 300;
}
.autocol th {
border-bottom: solid 1px #434857;
text-align: left;
font-weight: 400; font-size: .9em;
}

.left th {
border-bottom: solid 1px #434857;
text-align: left;
font-weight: 300;
}

#fck h1 {
color: #444444;
font-weight: bold;
}

a.weiss {
	color: #666;
}

a.dark {
	color: #666666;
}


table.templ_vors {
	width: 100%;
	padding: 0;
}
table.templ_vors td {
	padding: 4px;
	color: #666;
	border: solid 1px #666;
}
table.templ_vors td a {
	color: red;

}

.templ_titel {
	float: left;
	text-decoration: none !important;
	font-weight: bold;
	letter-spacing: 1px;
	padding: 4px 20px;
	position: absolute;
	right: 40px;
	margin-top: -19px;
}

.tab_header {
background: #666;
}

.fest {
float: left;
display:block;
width: 80px;
text-align: center;
}



/* ------------------- TOOLTIPP MOOTOOLS */



.tool-tip {
	color: #666;
	width: 139px;
	z-index: 13000;
}

.tool-title {
	font-weight: bold;
	margin: 0;
	color: #9FD4FF;
	padding: 8px 8px 4px;
	background: url(bubble.png) top left;
}

.tool-text {
	padding: 4px 8px 8px;
	background: url(bubble.png) bottom right;
}

.custom-tip {
	color: #000;
	width: 130px;
	z-index: 13000;
}

.custom-title {
	font-weight: bold;
	margin: 0;
	color: #3E4F14;
	padding: 8px 8px 4px;
	background: #C3DF7D;
	border-bottom: 1px solid #B5CF74;
}

.custom-text {
	padding: 4px 8px 8px;
	background: #CFDFA7;
}

#preview{
	position: absolute;
	border:1px solid #ccc;
	background:#333;
	padding:5px;
	display:none;
	color:#666;
	z-index:1000 !important;
	}

.weiss a {
	color:#e2e2e2;
	}

.zurueck {
	letter-spacing: 3px;
	color: gray
}

table.autocol { width: 100%; }
.autocol tr td { background: #f3eeee; border-bottom: solid 1px #e2e2e2; padding: 4px 0 0 5px; font-size: .9em; }
table tr:nth-child(odd) td { background: transparent; }
.autocol.small td { font-size: 1.1em; }
.nopad td { padding-top: 0 !important; padding-bottom: 0 !important; }
.smallpad td { padding-top: 2px !important; padding-bottom: 2px !important; }
tr.NOT, .autocol tr.NOT td { background: rgba(0,0,0,.1) !important; }
/* paddings */
.p10 {  padding: 10px; }
.p20 {  padding: 20px; }
.p30 {  padding: 30px; }
.p40 {  padding: 40px; }
.p50 {  padding: 50px; }
.p60 {  padding: 60px; }

.p10 td {  padding: 10px; }
.p20 td {  padding: 20px; }
.p30 td {  padding: 30px; }
.p40 td {  padding: 40px; }
.p50 td {  padding: 50px; }
.p60 td {  padding: 60px; }

td p { }

/*
grau_d  = #1bc98e
g_med1  = #B4B4B4
g_med2  = #C3C3C3
g_med3  = #A9A9A9
g_hell1 = #D9DDE3
g_hell2 = #E1E1E1
g_hell3 = #D4D4D4
red    = #7B1B1B
*/

/*
positionierung
*/

/*
formatierung
*/

a:visited, a:link		{
	color:#666;
	text-decoration:none;
	    transition: color .25s ease-in-out;
   -moz-transition: color .25s ease-in-out;
   -webkit-transition: color .25s ease-in-out;
}
a:hover 		{color:#444;}

a.nav:visited, a.nav:link		{
	color:#7B1B1B;
	text-decoration:none;
}
a.nav:hover 		{color:#7B1B1B;}

a.del:visited, a.del:link 	{
	color:#EFECEC;
	text-decoration: none;
}
a.del:hover 		{color:#666FFF;}
input, textarea, select {
	background-color:inherit;
	font-size:.9em;
	border: solid 1px #C3C3C3;
	margin:  0;
	padding: 6px;
}

input.button {
	border: solid 1px #7B1B1B;
	min-width: 120px;
	margin-left: 30px;
}

select {width:150px;}

h2 {
	color:#7F7A91;
	margin:  0;
	padding: 0;
	letter-spacing: 2px; text-transform: uppercase; font-weight: 100; font-size: 1.5em;
}

h1 {
	color:#7F7A91;
	font-weight:300;
	margin:  0;
	padding: 0;
}

h3 {
	color:#7B1B1B;
	font-weight:400;
	margin:  0;
	padding: 0;
}

table, td, tr, .text, .textweiss, .down, .img_verw, .black, .feld  {
	font-weight:300;
	margin:  10;
	padding: 0;
}


.menu-content li {
	list-style: none !important;
}

.col1 { background: #f1f1f1; }
.col2 { background: #cccccc; }
.col3 { background: #a9d6e7; }

.col3 {
    background: repeating-linear-gradient(-55deg, #ddd, #ddd 10px, #eee 10px, #ddd 20px );
}

.col4 { background: #e2e2e2; }
.col5 { background: #eee; }
.novis { background: #000; opacity: .4; }


