@font-face {
  font-family: 'Poppins';
  src: url('../css/fonts/Poppins-Light.woff') format('woff'),;
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Poppins';
  src: url('../css/fonts/Poppins-Regular.woff') format('woff'),;
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Poppins';
  src: url('../css/fonts/Poppins-SemiBold.woff') format('woff'),;
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Poppins';
  src: url('../css/fonts/Poppins-Bold.woff') format('woff'),;
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Kalam-Regular';
  src: url('../css/fonts/Kalam-Regular.eot');
  src: url('../css/fonts/Kalam-Regular.eot?#iefix') format('embedded-opentype'),
       url('../css/fonts/Kalam-Regular.svg#Kalam-Regular') format('svg'),
       url('../css/fonts/Kalam-Regular.ttf') format('truetype'),
       url('../css/fonts/Kalam-Regular.woff') format('woff'),
       url('../css/fonts/Kalam-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Kalam-Light';
  src: url('../css/fonts/Kalam-Light.eot');
  src: url('../css/fonts/Kalam-Light.eot?#iefix') format('embedded-opentype'),
       url('../css/fonts/Kalam-Light.svg#Kalam-Light') format('svg'),
       url('../css/fonts/Kalam-Light.ttf') format('truetype'),
       url('../css/fonts/Kalam-Light.woff') format('woff'),
       url('../css/fonts/Kalam-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Kalam-Bold';
  src: url('../css/fonts/Kalam-Bold.eot');
  src: url('../css/fonts/Kalam-Bold.eot?#iefix') format('embedded-opentype'),
       url('../css/fonts/Kalam-Bold.svg#Kalam-Bold') format('svg'),
       url('../css/fonts/Kalam-Bold.ttf') format('truetype'),
       url('../css/fonts/Kalam-Bold.woff') format('woff'),
       url('../css/fonts/Kalam-Bold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
}


:root {
	--primary-color: #004E75;
	--white-color: #004E75;
}
a {color: #000;}
.btn {font-size: 16px; color: #000; border-radius: 0;}
.btn,a,.btn:hover{-webkit-transition:color .25s ease;-moz-transition:color .25s ease;-o-transition:color .25s ease;transition:color .25s ease;}
.btn:hover, .btn.focus {color:#000;-webkit-transition:all .3s linear;-moz-transition:all .3s linear;-o-transition:all .3s linear;transition:all .3s linear;}
.btn.focus, .btn:focus {box-shadow: none;} button:focus {outline: none;}
::selection{background:var(--primary-color);color:#FFF;text-shadow:none}
::-moz-selection{background:var(--primary-color);color:#FFF;text-shadow:none}
::-webkit-selection{background:var(--primary-color);color:#FFF;text-shadow:none}
html{width:100%;height:100%}
body{width:100%;height:100%;background:#fff; font-family: 'Poppins', Arial, "Helvetica Neue", Helvetica, sans-serif; line-height: 1.5em; font-size: 1rem; font-weight: 400;-webkit-font-smoothing:subpixel-antialiased;-webkit-font-smoothing:antialiased!important;-moz-osx-font-smoothing:grayscale;color:#000;}
.btn-link{color:#333942;word-break:normal;word-break:break-all;word-break:keep-all}
.btn-link:hover{color:var(--primary-color);text-decoration:underline}
h1,h2,h3,h4,h5,h6{font-family: 'Poppins', Arial, "Helvetica Neue", Helvetica, sans-serif; line-height: 1.3em; font-weight: 600; text-rendering:optimizeLegibility;-webkit-font-smoothing:antialiased; color:#000; margin-bottom: 10px; font-size: 2em;}
*,:before,:after{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;-ms-box-sizing:border-box;box-sizing:border-box}
html,body{position:relative;height:100%}
small {font-size: 10px;} p {word-wrap: break-word;}
a:hover {text-decoration:none;color:var(--primary-color);-webkit-transition:all .3s linear;-moz-transition:all .3s linear;-o-transition:all .3s linear;transition:all .3s linear;}

.form-control {
	font-size: 0.875em;
	border-radius: 0;
	border: none;
}
.form-control:focus {box-shadow: none;}
.relative {position: relative;}

/* header */
.navbar-brand {
	position: absolute;
	right: 60px;
	top: 0;
}
.navbar {
	padding: 0 60px;
}
.navbar-nav .nav-link {
	font-size: 1em;
	font-weight: 500;
	letter-spacing: .1em;
	padding-top: 26px;
	padding-bottom: 26px;
}
.navbar-light .navbar-nav .nav-link {
	color: #000;
	position: relative; text-transform: uppercase;
}
.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
	color: #000;
}
.navbar-light .navbar-nav .active>.nav-link::before, .navbar-light .navbar-nav .nav-item:hover .nav-link::before {
	content: '';
	width: 100%;
	height: 5px;
	background: #f15a22;
	position: absolute;
	top: 0;
	left: 0;
}

/* banner */
.carousel_banner {
	position: relative;
}
.box_contact {
	position: absolute;
	z-index: 10;
	top: 0;
	right: 60px;
	background: #f15a22;
	color: #fff;
	padding: 15px 20px;
	font-weight: 600;
	letter-spacing: .1em;
	font-size: 1em;
}
.box_contact a {
	color: #fff;
}
.box_contact .email {
	font-size: 0.8em;
}
.carousel_banner .carousel-cell {
  width: 100%;
/*   height: 798px; */
  margin-right: 10px;
  background: #a6d3e3;
}
.carousel-cell img { width: 100%; }
.carousel_banner .flickity-page-dots {
	bottom: 15px;
}
.carousel_banner .flickity-page-dots .dot.is-selected {
	background: #f15a22;
}
.carousel_banner .flickity-page-dots .dot {
	background: #fff;
	opacity: 1;
	box-shadow: 4px 2px 4px 0px rgba(0,0,0,0.75);
	-webkit-box-shadow: 4px 2px 4px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 4px 2px 4px 0px rgba(0,0,0,0.75);
}


/*
.carousel { height: 70%; }

.carousel-cell { height: 100% }
*/



.carousel_banner .box_label {
	position: absolute;
	z-index: 10;
	left: 55%;
	top: 0;
	bottom: 0;
	margin: auto;
	background: #fff;
	color: #000;
	border-left: 7.5px solid #f15a22;
	width: 410px;
	height: 190px;
	padding: 15px;
	box-shadow: 10px 10px 5px 0px rgba(51,51,51,0.75);
	-webkit-box-shadow: 10px 10px 5px 0px rgba(51,51,51,0.75);
	-moz-box-shadow: 10px 10px 5px 0px rgba(51,51,51,0.75);
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: center;
	align-content: stretch;
}
.carousel_banner .box_label p {
	font-size: 1.875em;
	font-family: 'Kalam-Bold';
	line-height: 1.2em;
}
.carousel_banner .box_label p span {
	font-family: 'Kalam-Light';
}
.carousel_banner .carousel_title {
	position: absolute;
	left: 60px;
	bottom: 20%;
	margin: 0;
	font-size: 5em;
	color: #fff; /* font-weight: 500; */
}
.carousel_banner .carousel_title span {
	font-weight: 300;
}

/* section_services */
.section_services {
	background: #fff;
	padding: 30px 0;
	border-bottom: 7px solid #a6d3e3;
}
.box_services {
	padding-left: 15px;
	border-left: 2px solid #f15a22;
}
.box_services h2 {
	font-size: 2em;
	font-weight: 400;
	color: #f15a22;
	margin-bottom: 15px;
}
.box_services h4 {
	font-size: .95em;
	font-weight: 600;
	margin-bottom: 0;
/* 	word-break: break-all; */
}
.box_services ul {
	margin: 0;
	padding: 0;
}
.box_services ul li a {
	font-size: .9em;
}
.box_services ul li:hover a {
	color: #f15a22;
}

/* section_individualpsychological */
.section_individualpsychological {
	padding: 50px 0;
}
/* .section_individualpsychological h1 { */
h1, h2.large {
	text-align: center;
	font-weight: 400;
	color: #f15a22;
	font-size: 2em;
	margin-bottom: 1em;
}
.blockquote {
	font-family: 'Kalam-Bold';
	color: #f15a22;
}
.blockquote p {
	font-size: 1.375em;
	line-height: 1.25em;
}
.blockquote-footer {
	font-family: 'Poppins';
	font-weight: 300;
	font-size: 70%;
	color: #000;
	font-style: italic;
}
.blockquote-footer::before {
	display: none;
}
.blockquote span {
	font-family: 'Poppins';
	font-weight: 300;
	color: #000;
	font-style: italic;
	font-size: .6em;
}
/* section_workshop_news */
.section_workshop_news h2 {
	background: #a6d3e3;
	color: #fff;
	text-align: center;
	padding: 15px 0;
	margin-bottom: 50px; font-size: 1.5em;
    letter-spacing: .05em;
}
.section_workshop_news h3 {
	font-size: 1.2em;
	margin-bottom: 20px;
}
.section_workshop_news .date {
	color: #f15a22;
	margin-bottom: 20px;
	font-weight: 600;
}
.btn_goshop {
	font-style: italic;
	color: #f15a22;
	text-decoration: underline;
	font-weight: 600;
	padding-left: 0;
}
.btn_goshop:hover {
	text-decoration: none;
}
.box_workshop {
	border-left: 1px solid #f15a22;
	padding-left: 20px;
	margin-bottom: 50px;
}
.box_news {
	background: #e1f0f5;
	padding: 30px;
	margin-bottom: 50px;
}
.box_news h3 {
	border-bottom: 1px solid #f15a22;
	padding-bottom: 15px;
}
.box_news h4 {
	font-size: 1.2em;
    margin-bottom: 20px;
}

/* footer */
footer {
	background: #f15a22;
	color: #fff;
	padding: 50px 0;
}
footer a {
	color: #fff;
	font-weight: 700;
}
footer h4 {
	color: #fff;
	font-size: 1.3em;
	text-align: center;
	margin-bottom: 30px;
}
footer p {
	font-weight: 500;
}
.box_info {
	border-left: 1px solid #fff;
	padding-left: 20px;
	min-height: 165px;
}
.box_info ul {
	padding: 0 0 0 20px;
	margin: 0;
}
.box_info ul li a {
	color: #fff;
}
.box_info .call {
	font-size: 1.3em;
}
.box_online {
	background: #fff;
	padding: 20px;
	color: #000;
}
.box_online h3 {
	font-size: 1.2em;
	color: #f15a22;
	border-bottom: 1px solid #f15a22;
	padding-bottom: 15px; font-weight: 400;
}
.box_online p {
	font-size: 1.3em;
}
.btn_talk {
	font-weight: 600;
	padding-left: 0;
}

/* section_banner_sub */
.section_banner_sub {
	position: relative;
	height: 536px;
	margin-top: 30px;
}
.box_banner_img {
	height: 536px;
	overflow: hidden;
	margin-left: -15px;
	margin-right: -15px;
    background: url(../images/1x/banner01.jpg);
    background-size: cover;
    background-position: -140px;
}
.box_banner_img img {
	height: 536px;
	object-fit: cover;
	width: 100%;
}
.box_caption {
	padding: 0 60px;
}
.box_caption h1 {
	font-size: 3.5em;
	color: #f15a22; font-weight: 400;
}
.box_caption h2 {
	font-family: 'Kalam-Bold';
	border-left: 8.5px solid #f15a22;
	padding-left: 20px;
}
.box_caption h2 span {
	font-family: 'Kalam-Light'; font-weight:  300;
	display: block;
}
.box_caption h3 {
	font-size: 1em;
}
.box_caption h4 {
	font-size: 3em;
	color: #f15a22; font-weight: 400;
}
.box_caption h4 .smaller {
	font-size: .5em;
}

.box_caption ul {
	padding-left: 0;
	margin: 0;
}


/* section_supervision */
.section_general {
	padding: 30px 0;
	border-top: 7px solid #a6d3e3;
	margin-top: 50px;
}
.section_general h2 {
	text-align: center;
	margin-bottom: 30px;
	color: #f15a22; font-weight: 400;
}
.box_general_info, .bg-gray {
	position: relative;
	padding: 30px;
	background: #d7eaf1;
}
h3.orange {
	color: #f15a22;
	font-style: italic;
	font-size: 1.2em;
	margin-bottom: 20px;
}
.section_general h6 {
	color: #000;
	font-size: 1em;
	margin-bottom: 0;
}
.box_about h5 {
	font-size: 1em;
	margin-bottom: 5px;
}
.box_about ul {
	padding-left: 15px;
}
.box_avatar {
	width: 123px;
	height: 123px;
	overflow: hidden;
	position: absolute;
	left: -150px;
	top: -70px;
	border-radius: 100px;
}
.box_avatar img {
	width: 100%;
	height: 123px;
	object-fit: cover;
}
.note {
	color: #f15a22;
	font-weight: 600;
}

/* section_banner_sub2 */
.section_banner_sub2 {
	position: relative;
	margin-top: 4em;
}
.section_banner_sub2.mtop {
	position: relative;
	margin-top: 2em;
}

.section_banner_sub2 h1 {
	font-size: 3em;
	color: #f15a22; font-weight: 400;
	margin: 0;
}

/* section_workshoppage */
.box_content {
	border-top: 7px solid #a6d3e3;
	padding: 30px 0 0;
}
.box_content .date {
	color: #f15a22;
	font-weight: 600;
}
.box_content h3 {
	font-size: 1.3em;
}
.box_overview {
	background: #d7eaf1;
	padding: 20px;
}
.box_overview h2 {
	font-size: 1.5em;
	color: #f15a22; font-weight: 400;
}
.box_overview_content .date {
	color: #f15a22;
	font-weight: 600;
	margin-bottom: 0;
}
.box_overview_content  h3 {
	font-size: 1em;
	margin-bottom: 1em;
}
.box_content h5 {
	font-size: 1em;
}
.box_content .table td, .box_content .table th {
	padding-left: 0;
}


.box_services ul, .box_caption ul, .container ul {
    padding: 0;
    margin: 0;
    list-style: none;
    padding-left: 10px;
}
.box_services ul li:before, .box_caption ul li:before, .container ul li:before {
    content: '·';
    position: absolute;
    margin-left: -12px;
/*     margin-top: 4px; */
}
.linkbox { cursor: pointer; }

.about ul {
    padding: 0;
    margin: 0;
    list-style: none;
    margin-left: 15px;
}
.about ul li:before {
    content: '·';
    position: absolute;
    margin-left: -12px;
/*     margin-top: 4px; */
}
.about p { margin-bottom: 0; }
.about p:first-child { margin-top: 1em; }
.about p + ul { margin-bottom: 1em; }

.orange { color: #f15a22; }


/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
.mt0 { margin-top: 0px; }  .mt1 { margin-top: 10px; }  .mt2 { margin-top: 20px; }  .mt3 { margin-top: 30px; }  .mt4 { margin-top: 40px; }  .mt5 { margin-top: 50px; }  .mt6 { margin-top: 60px; }  .mt7 { margin-top: 70px; }  .mt8 { margin-top: 80px; }  .mt9 { margin-top: 90px; }  .mt10 { margin-top: 100px; }  .mb0 { margin-bottom: 0px; }  .mb1 { margin-bottom: 10px; }  .mb2 { margin-bottom: 20px; }  .mb3 { margin-bottom: 30px; }  .mb4 { margin-bottom: 40px; }  .mb5 { margin-bottom: 50px; }  .mb6 { margin-bottom: 60px; }  .mb7 { margin-bottom: 70px; }  .mb8 { margin-bottom: 80px; }  .mb9 { margin-bottom: 90px; }  .mb10 { margin-bottom: 100px; }  .pad0 { padding: 0px; }  .pad1 { padding: 10px; }  .pad2 { padding: 20px; }  .pad3 { padding: 30px; }  .pad4 { padding: 40px; }  .pad5 { padding: 50px; }  .pad6 { padding: 60px; }  .pad7 { padding: 70px; }  .pad8 { padding: 80px; }  .pad9 { padding: 90px; }  .pad10 { padding: 100px; }  .pt0 { padding-top: 0px; }  .pt1 { padding-top: 10px; }  .pt2 { padding-top: 20px; }  .pt3 { padding-top: 30px; }  .pt4 { padding-top: 40px; }  .pt5 { padding-top: 50px; }  .pt6 { padding-top: 60px; }  .pt7 { padding-top: 70px; }  .pt8 { padding-top: 80px; }  .pt9 { padding-top: 90px; }  .pt10 { padding-top: 100px; }  .pb0 { padding-bottom: 0px; }  .pb1 { padding-bottom: 10px; }  .pb2 { padding-bottom: 20px; }  .pb3 { padding-bottom: 30px; }  .pb4 { padding-bottom: 40px; }  .pb5 { padding-bottom: 50px; }  .pb6 { padding-bottom: 60px; }  .pb7 { padding-bottom: 70px; }  .pb8 { padding-bottom: 80px; }  .pb9 { padding-bottom: 90px; }  .pb10 { padding-bottom: 100px; }
.ml1 { margin-left: 10px !important; } .ml2 { margin-left: 20px !important; } .ml3 { margin-left: 30px !important; } .ml4 { margin-left: 40px !important; } .ml5 { margin-left: 50px !important; }
/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
